<!-- <div id="loginFormDiv">
	<h2>Log-in</h2>
	<form id="loginForm" method="post">
		
	</form>
	<input type="submit" id="loginFacebook" name="submit" value="Facebook"/>
	<input type="submit" id="loginGoogle" name="submit" value="Google"/>
	<br />
	<a href="#register">Register</a>
	<br />
	<a href="">Forgotten the password?</a> 
</div> -->
<div id="loginFormDiv" style="display:block;" align="right">
    <div id="formContainer">
    	<div id="formSign">
			Login to Status
		</div>
    	<form id="loginForm" method="post">
	        <input type="text" id="username" name="username" placeholder="Username"/>
			<input type="password" id="password" name="password"  placeholder="Password" />
			<!-- <div class="checkboxDiv"> -->
				<!-- <input type="checkbox" name="tos" /><label class="remember">Keep logged in</label> -->
			<label class="remember"><input type="checkbox" name="tos" />&nbspKeep logged in</label>
			<!-- <input type="image" src="mainscreen/static/mainscreen/images/login/fb.png" name="fb" class="fb_login" />
			<input type="image" src="mainscreen/static/mainscreen/images/login/google.png" name="google" class="google_login" /> -->
			<a href="#" class="fb_login sb"></a>
			<a href="#" class="google_login sb"></a>
			<!-- <input type="button" name="fb" class="fb_login" />
			<input type="button" name="google" class="google_login" /> -->
			<!-- </div> -->
			<!--<input type="submit" id="loginBtn" name="LogIn" value="Log in"/> -->
		</form>
    </div>
    <div id="LoginButton">Login</div>
</div>