<div id="register-container">
	<!-- <h2 class="login-title">

	</h2> -->
	<div id="register" class="centered auth-form-container">
		<!-- {% csrf_token %} -->
		<form id="register-form" class="auth-form" method="post">
			<fieldset class="clearfix">
				<p>
					<span class="fa fa-user"></span>
					<input id="login-form-username" type="text" value="Username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" required>
				</p>
				<p>
					<span class="fa fa-lock"></span>
					<input id="register-form-password" type="password"  value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required>
				</p>
				<p>
					<span class="fa fa-repeat"></span>
					<input id="register-form-confirm-password" type="password"  value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required>
				</p>
				<p>
					<span class="fa fa-envelope"></span>
					<input id="register-form-email" type="text" value="Email" onBlur="if(this.value == '') this.value = 'Email'" onFocus="if(this.value == 'Email') this.value = ''" required>
				</p>
				<p>
					<input type="submit" value="Sign Up">
				</p>
			</fieldset>
		</form>
		<p>Already a member? <a href="#">Sign in</a><span class="fa fa-arrow-right"></span></p>
	</div>

</div>

<!-- <div id="registerWrapper" style="display: none;">
<div id="registerFormDiv" >
	<h2>Register</h2>
	<form id="registerForm" method="post">
		<input type="text" class="username" name="username" placeholder="Username"  />
		<input type="password" class="password" name="password"  placeholder="Password" />
		<input type="password" class="confPassword" name="confPassword"  placeholder="Confirm password" />
		<input type="text" class="email" name="email" placeholder="Email" />
		<input type="submit" id="regBtn" name="Reg" value="Register"/>
	</form>
</div>
<div id="registerValidationDiv" class="registerValidation"></div>

</div> -->
