<div id="registerWrapper">
<div id="registerFormDiv" style="display: none;">
	<h2>Register</h2>
	<form id="registerForm" method="post">
		<input type="text" class="username" name="username" placeholder="Username" value="allah" />
		<input type="password" class="password" name="password"  placeholder="Password" value="123" />
		<input type="password" class="confPassword" name="confPassword"  placeholder="Confirm Password" value="123" />
		<input type="text" class="email" name="email" placeholder="Email" value="aw3s0me@rocketmail.com" />
		<input type="submit" id="regBtn" name="Reg" value="Register"/>
	</form>
</div>
<div id="registerValidationDiv" class="registerValidation"></div>
</div>
