<div id="txtEditContainer">
	<div class="row">
    <span class="label label-default"></span>
    <div class="txtControlPanel">
        <div class="btn-group" id="txtProjectList">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Projects<span class="caret"></span></button>
            <ul class="dropdown-menu scrollable-menu" role="menu">
                <li><a data="katrin">Katrin</a></li>
                <li><a data="kitcube">Kitcube</a></li>
            </ul>
        </div>
        <div class="btn-group" id="txtCfgList">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Tabs<span class="caret"></span></button>
            <ul class="dropdown-menu scrollable-menu" role="menu">
                <li><a data="status1">Status 1</a></li>
                <li><a data="status2">Status 2</a></li>
            </ul>
        </div>
        <button id="saveTxt" type="button" class="btn btn-default" value="Save">Save</button>
    </div>
    </div>
    <div id="txtEditor">
        <div id="txtEditorPlaceholder"></div>
    </div>
</div>