<div class='canvas'>
    <!-- <div class="tile" style="left: 0px; top: 0px; width: 190px; height: 94px;">
        <div style="position: absolute; left: 5px; top: 0px; font-size: 12px">sensor name and comment<br>can be two lines </div>
        <div style="position: absolute; left: 5px; bottom: 2px; font-size: 10px">min: xx.x<br>max: xx.x<br>alert: 4</div>
        <div style="position: absolute; right: 8px; bottom: -4px; font-size: 54px"> 85.2 </div>
        <div style="position: absolute; right: 2px; top: 20px; font-size: 12px">km/h</div>
    </div> -->
</div>
