<div id="loginFormDiv">
	<!-- {% csrf_token %} -->
	<h2>Log-in</h2>
	<form id="loginForm" method="post">
		<input type="text" id="username" name="username" placeholder="Username"/>
		<input type="password" id="password" name="password"  placeholder="Password" />
		<input type="checkbox" id="tos" name="tos" /><label>Keep logged in</label>
		<input type="submit" id="loginBtn" name="LogIn" value="Log in"/>
	</form>
	<input type="submit" id="loginFacebook" name="submit" value="Facebook"/>
	<input type="submit" id="loginGoogle" name="submit" value="Google"/>
	<br />
	<a href="">Register</a>
	<br />
	<a href="">Forgotten the password?</a>
</div>