<div id="txtEditContainer">
	<div class="row">
    <div class="txtControlPanel">
        <div class="btn-group" id="txtProjectList">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Projects<span class="caret"></span></button>
            <ul class="dropdown-menu scrollable-menu" role="menu">
                <li><a href="#">Project 1</a></li>
                <li><a href="#">Project 2</a></li>
            </ul>
        </div>
        <div class="btn-group" id="txtCfgList">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Tabs<span class="caret"></span></button>
            <ul class="dropdown-menu scrollable-menu" role="menu">
                <li><a href="#">CfgName 1</a></li>
                <li><a href="#">CfgName 2</a></li>
            </ul>
        </div>
        <button id="saveTxt" type="button" class="btn btn-default" value="Save">Save</button>
    </div>
    </div>
    <div id="txtEditor">
        <div id="txtEditorPlaceholder"></div>
    </div>
</div>