{% load staticfiles %}
<!DOCTYPE html>
<html>
 
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="description" 
          content="{{ description }}">
  <link href={% static "layout/css/bootstrap.min.css" %} rel="stylesheet">
  <link href={% static "layout/css/main.css" %} rel="stylesheet">
  <link href={% static "layout/js/scripts/vendor/jqgrid/css/ui.jqgrid.css" %} rel="stylesheet"> 
  <link href={% static "layout/js/scripts/vendor/jquery-ui/themes/ui-lightness/jquery.ui.theme.css" %} rel="stylesheet">
  <link href={% static "layout/js/scripts/vendor/jquery-minicolors/jquery.minicolors.css" %} rel="stylesheet">


  <!--   <link href={% static "mainscreen/css/grid.css" %} rel="stylesheet"> -->
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if IE 7]>
  <style type="text/css">#wrapper { height:100%; }</style>
  <![endif]-->
</head>
 
<body>
  <div id="wrapper">
    <div id="content">
      <div id="banner" class="demo-headline">
        <h1 class="demo-logo">
          <div class="logo"></div>
          Kitcube Status
          <small>template editor</small>
        </h1>
        <div id="loginPanel"></div>
      </div>
      <div id="container"></div>
      <div id="footer" class="shadow">
        <p>Karlsruhe Institute of Technology | Institute for Data Processing and Electronics</p>
      </div>
    </div>
  </div>
  <script data-main="../static/layout/js/scripts/main.js" src={% static "layout/js/scripts/vendor/requirejs/require.js" %}></script> 
</body>
</html>

