html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#content {
  padding-bottom: 0px; /* Height of the footer element */
  width: 100%;
  margin: 0 auto;
}

#banner {
  width: 100%;
  height: 50px;
}

#footer {
  background: #666;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.shadow {
  font-size: 12px;
  color: #ccc;
}

#kitcube-container {
  margin-top: 100px;
  margin: 0 auto;
}

#kitcube-console {
  background: black;
  color: white;
  border: 1px solid #ddd;
  width: 100%;
  margin: 0 auto;
  /*min-height: 100px; */
}

#board-container {
  width: 100%;
}

.canvas {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    background: #cccccc;
    /*border: 5px solid #bbbbbb; */
    margin: 0 auto; 
}

.tile {
    color: white;
    /*position: relative; */
    position: absolute; 
    z-index: 2;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #338FFF; 
    //border: 2px solid white;
    padding: 0px;
    margin: 0px;
    /*background-color: rgba(51, 143, 255, 0.6); */
}

.widget {
    position: absolute;
    z-index: 3;
}

.sortable_container {
    width: auto;
    left: 0;
    top: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

//.ui-resizable-helper { 
  border: 1px dotted #00F; 
}

.grid {
    /*position: absolute; */
    position: absolute;
    z-index: 1;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
}

.ui-resizable-handle {
  position: absolute;
  width: 10%; 
  height: 10%; 
  border: 0px solid rgb(128, 128, 128); 
}
.ui-resizable-se {position: absolute; bottom: 0px; right: 0px; }
.ui-resizable-ne {position: absolute; top: 0px; right: 0px; }

.group {
    position: absolute;
    background: rgba(100,200,100,0.7);
    //background: rgba(45,43,46,0.7);
    color: #2e2d2b;
    //-moz-box-sizing: border-box;
    //box-sizing: border-box;
    z-index: 2;
}

.subtile {
    float: left;
    //display: inline-table;
    position: relative;
    color: #ffff4d;
    //color: yellow;
    background: #137;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    z-index: 2;
    font-weight: bold;
}
.sensorVal {
    width: 100%;
    height: 34%;
    text-align: right;
}

.chartCircle {
  width: 10%;
  height: 10%;
  -webkit-border-radius: 5em; 
  -moz-border-radius: 5em;
  background-color: grey;
  border: 1px solid black;
}

.activeSensor {
  border: 2px dotted yellow;
}

.activeSensor1 {
  border-top: 2px dotted yellow;
  border-right: 2px dotted yellow;
}

.activeSensor2 {
  border-bottom: 2px dotted white;
  border-left: 2px dotted white;
  //outline: 2px solid white;
}

.addChartBtn {
  //width: 5%; 
  //height: 10%;
  color: black;
}


.legendChartBtn {
  //height: 10%;
  color: black;
}

.datalabels {
  background-color:white;
  z-index:9999!important;  
}

.chartAdded1 {
  border-top: 2px solid yellow;
  border-right: 2px solid yellow;
}

.chartAdded2 {
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  //outline: 2px solid white;
}

.sensUnit2 {
  color: white;
}

.chartAdded {
  border: 2px solid yellow;
}

.rangeContainer {
  position: relative;
  z-index: 2;
}

.rangeDropdown {
  width: 100px;
  height: 20px;
  position: absolute;
  color: black;
  //z-index: 10;
}

.cntr {
	position: absolute;
	top: 0;
	left: 0;
}

/*.sensorName {
    width: 100%;
    height: 20%;
}



.sensorUnit {
    width: 10%;
    height: 10%;
}

.sensorAlarm {
    width: 55%;
    height: 50%;
} */

/* Test */


/* SENSOR TABLE STYLE */

.sensortable {
  //width: 100%;
  color: black;
  //height: 100%;
  text-align: center;
  border-spacing: 2px;
  border-collapse: separate;
  //border-color: gray;
  border: 1px solid;
  background-color : white;
}
.sensortable th {
  text-align: center;
  font-weight: bold;
  background-color: #ccccff;
}

.tblheader {
  height: 15%;
  color: black;
  font-weight: bold;
}

.tablecontainer {
  height: 85%;
}

.cell {
  width: 100%;
  height: 100%;
}

/* SENSOR TABLE STYLE END */


/* SLABTEXT */

.slabtexted .slabtext
        {
        display:-moz-inline-box;
        display:inline-block;
        white-space:nowrap;
        }
.slabtextinactive .slabtext
        {
        display:inline;
        white-space:normal;
        font-size:1em !important;
        letter-spacing:inherit !important;
        word-spacing:inherit !important;
        *letter-spacing:0 !important;
        *word-spacing:0 !important;
        }
.slabtextdone .slabtext
        {
        display:block;
        }

/* SLABTEXT END */

#navBarKitcube {
  position: absolute;
  top: 0;
  right: 0;
}

#navBarContainer {
  text-align:center; 
  vertical-align: middle;
}

/*@media (max-width: 768px) {
  .btn-responsive {
    //padding:2px 4px;
    font-size:60%;
    line-height: 1;
  }
  .input-responsive {
    font-size: 70%;
    line-height: 1;
  }
  .demo-logo {
    font-size: 90%;
  }
  #navBarKitcube {
    width: 80%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    //padding:4px 9px;
    font-size:70%;
    line-height: 1.2;
  }
  .input-responsive {
    font-size: 80%;
    line-height: 1.2;
  }
  .demo-logo {
    font-size: 95%;
  }
  #navBarKitcube {
    width: 80%;
  }
} */

.kitcube_banner {
	background: url(../images/banner/kitcube.jpg) #466f9d no-repeat;
}

.katrin_banner {
	background: url(../images/banner/katrin.png) #005D57 no-repeat;
}

/* Login form */

/* LoginView CSS TEMPLATE BEGIN */

#userBlock {
	float: right;
	display: inline;
	font-weight: bold;
	font-size: 20px;
}

.loginHref {
	margin-right: 10px;
	color: #000;
	cursor: pointer;
	text-decoration: none;
}

#userStatus {
	margin-right: 10px;
}

.loginlbl {
	padding-top: 10px;
}

.loginHref:hover {
	color: grey;
	text-decoration: none;
}

#loginFormDiv {
    width: 30%;
    margin: auto;
    margin-top: 120px;
}

#loginFormDiv h2 {
    text-shadow: 0 1px 0 #27ae60;
    font-size: 1.62em;
    //color: #2ecc71;
    color: black;
    display: block;
    width: 100%;
    padding-bottom: .4em;
    margin-bottom: .6em;
    border-bottom: 2px solid #2ecc71;
    /*box-shadow*/
    -webkit-box-shadow: 0 1px 0 #27ae60;
    -moz-box-shadow: 0 1px 0 #27ae60;
    box-shadow: 0 1px 0 #27ae60;
}

#loginFormDiv a {
    color: #27ae60;
}

.reglbl {
    padding-top : 8px;
    display: inline-block;
}
.forgetlbl {
	margin-top: -5px;
}



#loginFormDiv input[type="text"],
#loginFormDiv input[type="submit"],
#loginFormDiv input[type="password"]
/*#registerFormDiv input[type="text"],*/
/*#registerFormDiv input[type="submit"],*/
{
    clear: both;
    float: left;
    display: block;
    border: 1px solid #ccc;
    background: #ebebeb;
    margin: 6px 0;
    padding: 4px 10px;
    width: 100%;
    height: 34px;
    outline: 0;
    color: #34495e;
    font-size: 14px;
}

#loginFormDiv input[type=submit]
/*#registerFormDiv input[type=submit]*/ {
    background: #27ae60;
    //background: #e5e5e5;
    color: #ecf0f1;
    border: 0;
    border-bottom: 2px solid #2ecc71;
    margin: 10px 0 0;
}

#loginFormDiv input[value*="Facebook"]
/*#registerFormDiv input[value*="Facebook"]*/ {
    background: #3b5998;
    border-color: #1f4189;
    width: 50%;
    float: left;
    clear: none;
    margin-left: 0;
}

#loginFormDiv input[value*="Google"]
/*#registerFormDiv input[value*="Google"]*/ {
    background: #0396c7;
    border-color: #0078a6;
    width: 50%;
    float: left;
    clear: none;
}

#loginFormDiv input[value*="Facebook"]:active,
/*#registerFormDiv input[value*="Facebook"]:active, */
#loginFormDiv input[value*="Facebook"]:focus
/*#registerFormDiv input[value*="Facebook"]:focus*/ {
    color: #ecf0f1;
    background: #1f4189;
}

input[value*="Google"]:active,
input[value*="Google"]:focus {
    color: #ecf0f1;
    background: #0078a6;
}

#loginValidation {
	display: none;
	width: 30%;
	border: 1px solid;
	margin: 0 auto;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-image: url(../images/icons/validation.png);
	color: #ff0000;
	background-color: #FFBABA;
}

.invalid_input {
	//background-color: ;
	border: 2px solid #f08080 !important;
	background-color: #FFBABA !important;
}

.valid_input {
	//background-color: #adff2f;
	border-color: #adff2f !important;
	background-color: #DFF2BF !important;
}

/* LoginView CSS TEMPLATE END */

/* Register Form Begin */

#registerWrapper {
  width: 30%;
  margin: 0 auto;
  margin-top: 120px;
}

#registerFormDiv {
    //width: 30%;
    height: 295px;
    
}

#registerFormDiv h2 {
    text-shadow: 0 1px 0 #27ae60;
    font-size: 1.62em;
    //color: #2ecc71;
    color: black;
    display: block;
    width: 100%;
    padding-bottom: .4em;
    margin-bottom: .6em;
    border-bottom: 2px solid #2ecc71;
    /*box-shadow*/
    -webkit-box-shadow: 0 1px 0 #27ae60;
    -moz-box-shadow: 0 1px 0 #27ae60;
    box-shadow: 0 1px 0 #27ae60;
}

#registerFormDiv a {
    color: black;
}

#registerFormDiv input[type="text"],
#registerFormDiv input[type="submit"],
#registerFormDiv input[type="password"]
{
    clear: both;
    float: left;
    display: block;
    border: 1px solid #ccc;
    background: #ebebeb;
    margin: 6px 0;
    padding: 4px 10px;
    width: 100%;
    height: 34px;
    outline: 0;
    color: #34495e;
    font-size: 14px;
}

#registerFormDiv input[type=submit] {
    background: #27ae60;
    //background: #e5e5e5;
    color: #ecf0f1;
    border: 0;
    border-bottom: 2px solid #2ecc71;
    margin: 10px 0 0;
}

#mailForm {
  display: none;
}

.registerValidation {
  display: none;
  border: 1px solid;
  margin: 0 auto;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-image: url(../images/icons/completed.png);
  color: #ff0000;
  background-color: #FFBABA;
}

.activationCompletedDiv {
  display: none;
  width: 100%;
  border: 1px solid;
  margin: 0 auto;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-color: #DFF2BF !important;
  background-position: 10px center;
  background-image: url(../images/icons/completed.png);
  border-color: #adff2f !important;
  color: #006400;
  background-color: white;
}
/* Register Form End */