.tile {
    /*position: relative; */
    position: absolute !important; 
    z-index: 2;
    //-moz-box-sizing: border-box;
    //box-sizing: border-box;
    //background: #338FFF;
    //border: 2px solid white;
    padding: 0px;
    margin: 0px;
    /*background-color: rgba(51, 143, 255, 0.6); */
}

#tabs {
    background-image: url('../images/patterns/footer_lodyas/footer_lodyas.png');
    position: relative;
    background-repeat:repeat;
    background-position: top left;
}

.widget {
    position: absolute;
    z-index: 3;
}

.sortable_container {
    width: auto;
    left: 0;
    top: 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

//.ui-resizable-helper { 
  border: 1px dotted #00F; 
}

.grid {
    /*position: absolute; */
    position: absolute;
    z-index: 1;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
}

.ui-resizable-handle {
  position: absolute;
  border: 0px solid rgb(128, 128, 128); 
}
.ui-resizable-se {position: absolute; bottom: 0px; right: 0px; }
.ui-resizable-ne {position: absolute; top: 0px; right: 0px; }

.group {
    position: absolute !important;
    //background: rgba(255,255,255,1);
    //background: rgba(100,200,100,0.7);
    //background: rgba(45,43,46,0.7);
    color: #2e2d2b;
    //-moz-box-sizing: border-box;
    //box-sizing: border-box;
    z-index: 2;
}

.subtile {
    float: left;
    //display: inline-table;
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
    font-weight: bold;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.sensor-info {
    position: relative;
    height: 62%;
    width: 120%;
    font-family: Helvetica, Arial, sans-serif;
    //background-color: #101214;
    background-color: #2a2a2a;
}

.sensor-info:hover {
    background-color: #393a3b;
}

.sensor-info-data {
    display: inline-block;
    vertical-align: middle;
    padding: 8% 5%;
}

.sensor-unit {
    color: #9A9A9A;
    font-size: 1.4vh;
    //text-transform: capitalize;
}

.sensor-title {
    height: 38%;
    width: 100%;
    font-family: Carlito;
    line-height: 93%;
    overflow: hidden;
    font-size: 1.8vh;
    padding: 5% 5%;
    color: #9A9A9A;
    background-color: #272727;
}

.sensor-loading {
    //display: none;
}

.sensor-error {
    display: none;
}

.sensor-title-data {
    display: inline-block;
    vertical-align: middle;
}

.sensor-name {
    float: left;
}

.sensor-led {
    position: absolute;
    top: 5%;
    right: 3%;
    padding: 0 !important;
    text-decoration: none;
}

.sensor-led a {
    background-color: #272727;
    border-radius: 50%;
    display: block;
    //background-color: white;
    width: 5px;
    height: 5px;
}

.sensor-led-ok {
    background-color: #86b423 !important;
}

.sensor-led-warning {
    background-color: #e79134 !important;
}

.sensor-led-error {
    background-color: #d03939 !important;
}

.sensor-val {
    width: 100%;
    height: 34%;
    color: #e0e0e0;
    font-size: 2.1vh;
}

.chartCircle {
  width: 10%;
  height: 10%;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  background-color: grey;
  border: 1px solid black;
}

.activeSensorCell {
  background-color: 'yellow';
}

.activeSensor {
  border: 2px dotted #CC5400;
}

.activeSensor1 {
  border-top: 2px dotted #CC5400;
  border-right: 2px dotted #CC5400;
}

.activeSensor2 {
  border-bottom: 2px dotted white;
  border-left: 2px dotted white;
  //outline: 2px solid white;
}

.chart-btn {
    display: inline-block;
    //width: 200px;
    font-size: 1.4vh;
    padding: 5px;
    color: #fff;
    background-color: transparent;
    border: 1px solid rgb(69, 114, 167);
    text-align: center;
    outline: none;
    text-decoration: none;
    -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.chart-btn:hover,
.chart-btn:active {
    background-color: rgb(69, 114, 167);
    color: #000;
    -webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
    transition: background-color 0.3s ease-in,
    color 0.3s ease-in;
}

.chart-widget {
    border: 1px solid #4572A7 !important;
    background-color: #2D2D2E !important;
}

.chart-id-info {
    display: inline-block;
    border: 1px solid #4572A7;
    padding: 1%;
    margin: 1%;
    font-family: Technisans;
    color: #fff;
    font-size: 1.8vh;
    float: left;
}

.chart-control-panel {
    float: right;
    margin-top: 2%;
}

.chart-control-panel .close {
    color: white;
    padding: 4px;
    //opacity: .7;
}

.chart-sensor-list {
    color: #fff;
}

.chart-sensor-list ul {
    font-family: HelveticaHeavy;
    list-style: none;
}

.datalabels {
  background-color:white;
  z-index:9999!important;  
}

.chartAdded1 {
  border-top: 2px solid #CC5400;
  border-right: 2px solid #CC5400;
}

.chartAdded2 {
  border-bottom: 2px solid green;
  border-left: 2px solid green;
  //outline: 2px solid green;
}

.sensUnit2 {
  color: white;
}

.chartAdded {
  border: 2px solid #CC5400;
}

.rangeContainer {
  position: relative;
  z-index: 2;
}

.rangeDropdown {
    color: white;
    padding: 3px;
    background-color: transparent;
    border: 1px solid rgb(69, 114, 167);
    text-align: center;
    outline: none;
    text-decoration: none;
}

.rangeDropdown option {
    color: #fff;
    background-color: #2d2d2b;
}

.rangeDropdown option:focus {
    background-color: rgb(69, 114, 167);
}


.group-name {
    //position: absolute;
    font-weight: bold;
    width: 100%;
    color: white;
    background-color: transparent;
    font-family: TechniSans;
}

.group-name .close {
    color: gray;
}

.sensor-title .close {
    font-size: 1.4vh;
    position: absolute;
    top: 5%;
    right: 3%;
    padding: 0 !important;
    text-decoration: none;
}

.groupName {
    font-weight: bold;
}

.chart-cntrl-container {
    position: absolute;
    top: 0;
    right: 5px;
}