{% load staticfiles %}

<!DOCTYPE html>
<html>
 
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="description" 
          content="{{ description }}">
  <link href={% static "mainscreen/css/activation_completed.css" %} rel="stylesheet">
</head>
<body>
  	<div id="wrapper">
  		<div id="sign">
    	<!-- <div id="activationCompletedDiv" style="display:block"> -->
	    	<h1>Welcome, {{username}}! You are the best!</h1>
	    </div>
	    <div id="info">
		    <h2>Sorry but activation time has passed. Please, register again in Display Status!</h2>
		    <div id="btnDiv">
				<a href="/{{redirect_to}}/#register" id="btnGo">Go to register window</a>
			</div>
	    </div>
    </div>
  </div>
</body>

</html> 
