{% load staticfiles %}

<!DOCTYPE html>
<html>
 
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="description" 
          content="{{ description }}">
  <link href={% static "mainscreen/css/bootstrap.min.css" %} rel="stylesheet">
  <link href={% static "mainscreen/css/main.css" %} rel="stylesheet">
  <link href={% static "mainscreen/js/scripts/vendor/jqgrid/css/ui.jqgrid.css" %} rel="stylesheet"> 
  <link href={% static "mainscreen/js/scripts/vendor/jquery-ui/themes/ui-lightness/jquery.ui.theme.css" %} rel="stylesheet"> 
  <link href={% static "mainscreen/js/scripts/vendor/slabText/css/slabtext.css" %} rel="stylesheet"> 
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
   
<!--   <link href={% static "mainscreen/css/grid.css" %} rel="stylesheet"> -->
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if IE 7]>
  <style type="text/css">#wrapper { height:100%; }</style>
  <![endif]-->
</head>
 
<body>
  <div id="wrapper">
    <div id="content">
    	{{ banner }}
    	<span id="userBlock"><span id="userStatus"></span><span id="loginSpan"><a class="loginHref" href="#login">Login</a></span></span>
      <!-- <div id="banner" class="demo-headline">
        <h1 class="demo-logo">
          <div class="logo"></div>
          Kitcube Status
          <small>template editor</small>
        </h1> -->
       	<!-- <nav class="navbar navbar-default" id="navBarKitcube" role="navigation" style="border: 0!important;" >
        	<div class="container-fluid" id="navBarContainer">
		        <<button id="btnLogin" type="button">Login</button> 
		        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
		        <ul class="nav navbar-nav">
			        <li>
			        	<div class="btn-group">
			        		<button id="btnBoard" type="button" class="btn btn-default btn-responsive">Board</button>
			        		<button type="button" value="grid" id="toggleGridButton" class="btn btn-default btn-responsive">Grid</button>
			        		<button type="button" title="drop" value="drop" id="drop" class="nottoggle btn btn-default btn-responsive">Drop To Grid</button>
			        		<button id="btnTxt" type="button" class="btn btn-default btn-responsive">Edit Config</button>
			        	</div>
			  		</li>

			        <li><input id='testfunction' value='loadCfg(table.json);' class="form-control input-responsive"></li>
			        <li><button type="button" value="submit" id="canvasButton" class="btn btn-default btn-responsive">Submit</button></li> 
			        			  	</ul>
		        </div>
	        </div>
        </nav> -->
      <!-- </div> --> <!-- /demo-headline -->
      <div id="kitcube-container">
        <div id="board-container"> <!-- there should be tabs with boards -->
        </div>
      </div><!-- #kitcube-container -->
      <div id="footer" class="shadow">
        <p>Karlsruhe Institute of Technology | Institute for Data Processing and Electronics</p>
      </div>
    </div><!-- #content -->
		
    <!-- #footer -->

  </div>
  <!-- java script -->
  <script data-main="../static/mainscreen/js/scripts/main.js" src={% static "mainscreen/js/scripts/vendor/requirejs/require.js" %}></script> 
  
</body>
</html>

