<div class="auth-container">
    <button class="auth-button">
            <span id="auth-username" class="auth-text">
                {% if user.username %}
                    {{ user.username }}
                {% else %}
                    Not logged
                {% endif %}
            </span>
        <i class="fa fa-bars"></i>
    </button>
    <ul id="auth-menu" class="auth-menu">
        <li class="menu-elem login-btn"><a href="#login"><i class="fa fa-sign-in"></i>
            Sign in</a></li>
        <li class="menu-elem logout-btn"><a href="#logout"><i class="fa fa-sign-out"></i>
            Sign out</a></li>
        <li class="menu-elem reg-btn"><a href="#register"><i class="fa fa-user"></i>
            Sign up</a></li>
        <li class="menu-elem grid-btn"><button id="on-grid"><i class="fa fa-th"></i>&nbsp;Show grid</button></li>
        <li class="menu-elem editor-btn"><a href="../editor"><i class="fa fa-pencil-square-o"></i>
            Editor</a></li>
        <li class="menu-elem board-btn"><a href="#board"><i class="fa fa-desktop"></i>
            Main screen</a></li>
    </ul>
</div>