/* Layout CSS START */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#content {
  padding-bottom: 0px; /* Height of the footer element */
  width: 100%;
  margin: 0 auto;
}

#banner {
  width: 100%;
  height: 15%;
}

#container {
  height: 77%;
  width: 100%;
}

#footer {
  background: #666;
  width: 100%;
  height: 8%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

/* Layout CSS END */

.shadow {
  font-size: 12px;
  color: #ccc;
}


/* Html elements style css */

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/* End */


/* LoginView CSS TEMPLATE BEGIN */

#loginForm {
    width: 50%;
    margin: auto;
    margin-top: 120px;
}

#loginForm h2 {
    text-shadow: 0 1px 0 #27ae60;
    font-size: 1.62em;
    color: #2ecc71;
    display: block;
    width: 100%;
    padding-bottom: .4em;
    margin-bottom: .6em;
    border-bottom: 2px solid #2ecc71;
    /*box-shadow*/
    -webkit-box-shadow: 0 1px 0 #27ae60;
    -moz-box-shadow: 0 1px 0 #27ae60;
    box-shadow: 0 1px 0 #27ae60;
}

#loginForm a {
    color: #27ae60;
}

#loginForm input[type="text"],
#loginForm input[type="submit"] {
    clear: both;
    float: left;
    display: block;
    border: 1px solid #ccc;
    background: #ebebeb;
    margin: 6px 0;
    padding: 4px 10px;
    width: 100%;
    height: 34px;
    outline: 0;
    color: #34495e;
    font-size: 14px;
}

#loginForm input[type=submit] {
    background: #27ae60;
    color: #ecf0f1;
    border: 0;
    border-bottom: 2px solid #2ecc71;
    margin: 10px 0 0;
}

#loginForm input[value*="Facebook"] {
    background: #3b5998;
    border-color: #1f4189;
    width: 50%;
    float: left;
    clear: none;
    margin-left: 0;
}

#loginForm input[value*="Google"] {
    background: #0396c7;
    border-color: #0078a6;
    width: 50%;
    float: left;
    clear: none;
}

#loginForm input[value*="Facebook"]:active,
#loginForm input[value*="Facebook"]:focus {
    color: #ecf0f1;
    background: #1f4189;
}

input[value*="Google"]:active,
input[value*="Google"]:focus {
    color: #ecf0f1;
    background: #0078a6;
}

</div>

/* LoginView CSS TEMPLATE END */

/* BoardView CSS TEMPLATE START */

#kitcube-container {
  margin-top: 100px;
  margin: 0 auto;
}

#board-container {
  width: 100%;

}

.canvas {
    position: relative;
    font-family: arial;
    background: #cccccc;
    /*border: 5px solid #bbbbbb; */
    margin: 0 auto; 
}

.tile {
    color: white;
    /*position: relative; */
    position: absolute; 
    z-index: 2;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*background: #338FFF; */
    border: 3px solid white;
    padding: 0px;
    margin: 0px;
    background-color: rgba(51, 143, 255, 0.6);
}

.grid {
    /*position: absolute; */
    position: absolute;
    z-index: 1;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
}

/* BoardView CSS TEMPLATE END */

/* TextEditorView CSS TEMPLATE START */

#txtEditor {
    background: black;
    color: white;
    border: 1px solid #ddd;
    width: 100%;
    margin: 0 auto;
    /*min-height: 100px; */
}

#txtEditContainer {
    border: 2px solid #ddd;
    width: 90%;
    margin: 0 auto;
    background: white;
}

#saveTxt {
    margin-right: 80px;
    margin-top: 2px;
    float: right;

}

/* TextEditorView CSS TEMPLATE END */



