<div class="input-group">
	<span class="input-group-addon same-size-addon">Name</span>
	<input title="name" type="text" class="form-control settval" placeholder="Name" value="<%= name %>">
</div>
<div class="input-group">
	<span class="input-group-addon same-size-addon">Size</span>
	<input title="sizex" type="text" class="form-control settval" placeholder="Width" value="<%= size[0] %>"/>
	<input title="sizey" type="text" class="form-control settval" placeholder="Height" value="<%= size[1] %>"/>
	<span class="input-group-addon">cells</span>
</div>
<div class="input-group">
	<span class="input-group-addon same-size-addon">Coords</span>
	<input title="coordx" type="text" class="form-control settval" placeholder="X" value="<%= coords[0] %>"/>
	<input title="coordy" type="text" class="form-control settval" placeholder="Y" value="<%= coords[1] %>"/>
	<span class="input-group-addon">cells</span>
</div>
