{% load staticfiles %}
<!DOCTYPE html>
<html>
 
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="description" 
          content="{{ description }}">
  <meta name="csrf_token" content="{{ csrf_token }}">
  <meta name="projects" content="{{ projects }}"> <!-- initializing user project to user model -->
  <meta name="project" content="{{ project }}"> <!-- editor project -->
  <link href={% static "editor/css/bootstrap.min.css" %} rel="stylesheet">
  <link href={% static "editor/css/main.css" %} rel="stylesheet">
  <link href={% static "editor/css/bootstrap.submenu.css" %} rel="stylesheet">
  <link href={% static "editor/css/guieditor.css" %} rel="stylesheet">
  <link href={% static "editor/js/scripts/vendor/jqgrid/css/ui.jqgrid.css" %} rel="stylesheet"> 
  <link href={% static "editor/js/scripts/vendor/jquery-ui/themes/smoothness/jquery-ui.css" %} rel="stylesheet">
  <link href={% static "editor/js/scripts/vendor/jquery-ui/themes/smoothness/jquery.ui.theme.css" %} rel="stylesheet">
  <link href={% static "editor/js/scripts/vendor/jquery-minicolors/jquery.minicolors.css" %} rel="stylesheet">
  <link href={% static "editor/js/scripts/vendor/chosen_v1.1.0/chosen.min.css" %} rel="stylesheet">
  <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'> -->
  <!--   <link href={% static "mainscreen/css/grid.css" %} rel="stylesheet"> -->
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if IE 7]>
  <style type="text/css">#wrapper { height:100%; }</style>
  <![endif]-->
</head>
 
<body>
  <div id="wrapper">
      <div id="banner" class="demo-headline">
        <h1 class="demo-logo">
          <div class="logo"></div>
          Display Status
          <small>template editor</small>
        </h1>
        {{ userblock }}
      </div>
      <div id="container"></div>
  </div>
  <footer id="footer">
    <p>Karlsruhe Institute of Technology | Institute for Data Processing and Electronics</p>
  </footer>
  <script data-main="../static/editor/js/scripts/main.js" src={% static "editor/js/scripts/vendor/requirejs/require.js" %}></script> 
</body>
</html>

