{% load staticfiles %}

<!DOCTYPE html>
<html>
 
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="description" 
          content="{{ description }}">
  <link href={% static "editor/css/bootstrap.min.css" %} rel="stylesheet">
  <link href={% static "editor/css/flat-ui.css" %} rel="stylesheet">
  <link href={% static "editor/css/jquery.gridster.css" %} rel="stylesheet">
  <link href={% static "editor/css/main.css" %} rel="stylesheet">
  <!--[if IE]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if IE 7]>
  <style type="text/css">#wrapper { height:100%; }</style>
  <![endif]-->
</head>
 
<body>
  <div id="wrapper">

    <header>
    </header><!-- #header -->
	
    <div id="content">

      <div class="demo-headline">
        <h1 class="demo-logo">
          <div class="logo"></div>
          Kitcube Status
          <small>template editor</small>
        </h1>
      </div> <!-- /demo-headline -->

      <div class="col-xs-3">
        <div id="toggle-view" class="switch switch-square" data-on-label="<i class='fui-eye'></i>" data-off-label="<i class='fui-new'></i>">
          <input type="checkbox" name="toggle-input"/>
	</div>
      </div> <!-- /toggles col-xs-3 -->

      <div id="kitcube-container">
        <div id="kitcube-canvas" class="demo">
	    <div class="gridster">
	      <ul>
		<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"><h5>HELLO</h5></li>
		<li data-row="2" data-col="1" data-sizex="1" data-sizey="1"><h5>WORLD</h5></li>
		<li data-row="3" data-col="1" data-sizex="1" data-sizey="1"><h5>OR ELSE<h5></li>

		<li data-row="1" data-col="2" data-sizex="2" data-sizey="1"></li>
		<li data-row="2" data-col="2" data-sizex="2" data-sizey="2"></li>

		<li data-row="1" data-col="4" data-sizex="1" data-sizey="1"></li>
		<li data-row="2" data-col="4" data-sizex="2" data-sizey="1"></li>
		<li data-row="3" data-col="4" data-sizex="1" data-sizey="1"></li>				

		<li data-row="1" data-col="5" data-sizex="1" data-sizey="1"></li>
		<li data-row="3" data-col="5" data-sizex="1" data-sizey="1"></li>

		<li data-row="1" data-col="6" data-sizex="1" data-sizey="1"></li>
		<li data-row="2" data-col="6" data-sizex="1" data-sizey="2"></li>				
	      </ul>
	    </div>
        </div>

        <div id="kitcube-console">tab1:
    element0:
        name: circle
        xcoord: 1
        ycoord: 5
    element1:
        name: square
        xcoord: 5
        ycoord: 10    
tab2:
    element0:
        name: circle
        xcoord: 1
        ycoord: 5
    element1:
        name: square
        xcoord: 5
        ycoord: 10
        </div>
      </div><!-- #kitcube-container -->

    </div><!-- #content -->
		
    <footer class="shadow">
        <p>Karlsruhe Institute of Technology | Institute for Data Processing and Electronics</p>
    </footer><!-- #footer -->

  </div>
  <!-- java script -->
  <script src={% static "editor/js/jquery-1.8.3.min.js" %}></script>
  <script src={% static "editor/js/jquery-ui-1.10.3.custom.min.js" %}></script>
  <script src={% static "editor/js/jquery.ui.touch-punch.min.js" %}></script>
  <script src={% static "editor/js/bootstrap.min.js" %}></script>
  <script src={% static "editor/js/bootstrap-select.js" %}></script>
  <script src={% static "editor/js/bootstrap-switch.js" %}></script>
  <script src={% static "editor/js/flatui-checkbox.js" %}></script>
  <script src={% static "editor/js/flatui-radio.js" %}></script>
  <script src={% static "editor/js/jquery.tagsinput.js" %}></script>
  <script src={% static "editor/js/jquery.placeholder.js" %}></script>
  <script src={% static "editor/js/application.js" %}></script>
  <script src={% static "editor/js/ace.js" %}></script>
  <script src={% static "editor/js/jquery.gridster.js" %}></script>
  <script>
      $(document).ready(function() {
          // Init
          $("#kitcube-canvas").show();
          $("#kitcube-console").hide();
          $("#toggle-view>div").removeClass("switch-off").addClass("switch-on switch-animate");
          
          var editor = ace.edit("kitcube-console");
          editor.resize();
          document.getElementById('kitcube-console').style.fontSize='14px';
          editor.setTheme("ace/theme/monokai");
          editor.getSession().setMode("ace/mode/yaml");

          var gridster;
          gridtster = $(".gridster > ul").gridster({
              widget_margins: [10, 10], 
              widget_base_dimensions: [140, 140],
              min_cols: 6}).data('gridster');
      });

      $("#toggle-view").change(function () {
          if($("#kitcube-console").is(':hidden')){
              $("#kitcube-console").show();
              $("#kitcube-canvas").hide();
              $("#toggle-view>div").removeClass("switch-on").addClass("switch-off switch-animate");    
          } else {
              $("#kitcube-console").hide();
              $("#kitcube-canvas").show();
              $("#toggle-view>div").removeClass("switch-off").addClass("switch-on switch-animate");    
          }
      });
  </script>
</body>
</html>

