<div class="ghost"  style="background-color: rgb(255,255,255);
		    width: 74.6px;
		    height: 74.6px;
		    color: black;
		    border: 1px solid black;
		    font-weight: bold;">
	<div style="position: absolute;
				left: 3.75px;
				line-height: 11.25px;">Sensor</div>
	<div style="position: absolute;
				bottom: 1.5px;
				padding-right: 5.25px;
				padding-left: 5.25px;
				font-size: 17.25px;
				color: rgb(32, 198, 46);
				width: 100%;
				height: 34%;">
		<div>VAL</div> 
	</div>
	<div style="position: absolute;
			    font-size: 9px;
			    right: 3.75px;
			    top: 15px;">-</div>
</div>