
    <div class='cntr'>
        <div class="rangeContainer">
            <select class="rangeDropdown">
                <option value="90d">90 day</option>
                <option value="30d">30 day</option>
                <option value="14d">14 day</option>
                <option value="7d">7 day</option>
                <option value="3d">3 day</option>
                <option value="24h">24 hour</option>
                <option value="8h">8 hour</option>
                <option value="3h">3 hour</option>
                <option value="1h">1 hour</option>
                <option selected="selected" value="15m">15 min</option>
            </select>
        </div>
        <div class="chartControlPanel">
            <button class="addChartBtn">Add</button>
            <button class="legendChartBtn">Legend</button>
            <button class="resetChartBtn">Reset</button>
        </div>
        <div class="close"><b>x</b></div>
    </div>

