<div id="settingsContainer">
	<div class="settPanel">
		<div class="row">
				<div class="btn-group" id="cfgProjectList">
			        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Projects<span class="caret"></span></button>
			        <ul class="dropdown-menu scrollable-menu" role="menu">
			            <li><a href="#">Project 1</a></li>
			            <li><a href="#">Project 2</a></li>
			        </ul>
			    </div>
			    <div class="btn-group" id="cfgList">
			        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Tabs<span class="caret"></span></button>
			        <ul class="dropdown-menu scrollable-menu" role="menu">
			            <li><a href="#">CfgName 1</a></li>
			            <li><a href="#">CfgName 2</a></li>
			        </ul>
			    </div>
		    	<button id="saveCfg" type="button" class="btn btn-default" value="Save">Save</button>
		    	<button id="editCfg" type="button" class="btn btn-default" value="Edit">Edit</button>
	    </div>
	</div>
    <div id="cfgOptions">
    	<div class="row">
	    	<div class="col-md-7">
		    	<div class="input-group">
		    		<span class="input-group-addon">Background Color</span>
		  			<input type="text" class="form-control">
		  			<span class="input-group-addon">HEX</span>
				</div>
			</div>
			<div class="col-md-1">
				<input id="picker" class="colorpicker" type="text" name="picker" placeholder="" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="input-group numberInputDiv">
		    		<span class="input-group-addon">Footer Height</span>
		  			<input type="text" class="form-control">
		  			<span class="input-group-addon">%, px</span>
				</div>
			</div>
			<div class="col-md-5">
				<div class="input-group numberInputDiv">
		    		<span class="input-group-addon">Banner Height</span>
		  			<input type="text" class="form-control">
		  			<span class="input-group-addon">%, px</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="input-group checkBoxDiv">
					<span class="input-group-addon">
		        		Auto Resize
		      		</span>
		      		<span class="input-group-addon">
		        		<input type="checkbox">
		      		</span>
		    	</div>
		    </div>
		    <div class="col-md-5">
		    	<div class="input-group checkBoxDiv">
					<span class="input-group-addon">
		        		Scrollable
		      		</span>
		      		<span class="input-group-addon">
		        		<input type="checkbox">
		      		</span>
    			</div>
		    </div>
    	</div>
    	
    	<div class="row">
    		<div class="col-md-7">
	    	<div class="input-group" id="resolutionInputs">
	    		<span class="input-group-addon">Resolution</span>
	  			<input type="text" class="form-control" placeholder="Height" />
	  			<input type="text" class="form-control" placeholder="Width"/>
	  			<span class="input-group-addon">px</span>
			</div>
			</div>
			<div class="col-md-2">
				<div class="btn-group" id="sizeList">
			        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Sizes<span class="caret"></span></button>
			        <ul class="dropdown-menu scrollable-menu" role="menu">
			            <li><a href="#">420x340px</a></li>
			            <li><a href="#">1920x1280px</a></li>
			        </ul>
		    	</div>
		    </div>
	    </div>
	    <br>
	    <br>
    </div>


</div> 
