<div id="controlPanel">
	<div class="arrow"></div>
	<div id="navControlPanel">
		<input id="btnChart" type="submit" name="btnChart" value="">
		<input id="btnTable" type="submit" name="btnTable" value="">
		<input id="btnSensor" type="submit" name="btnSensor" value="">
	</div>
	<div id="sensorControlPanel">
		<div class="row">
			<div class="btn-group" id="sensorServerList">
			    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Projects<span class="caret"></span></button>
			    <ul class="dropdown-menu scrollable-menu" role="menu">
			        <li><a href="#">Server 1</a></li>
			        <li><a href="#">Server 2</a></li>
			    </ul>
			</div>
			<div class="btn-group" id="sensorDbList">
			    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Projects<span class="caret"></span></button>
			    <ul class="dropdown-menu scrollable-menu" role="menu">
			        <li><a href="#">Db 1</a></li>
			        <li><a href="#">Db 2</a></li>
			    </ul>
			</div>
		</div>
		<div class="row">
			<select id="sensorChoice" class="chosen" multiple="true">
		</div>
		<div class="row">
		</div>
	</div>
	<div id="tableControlPanel">
		<div class="row">
		<!-- DropDown -->
		</div>
		<div class="row">
		</div>
		<div class="row">
		</div>
	</div>
	<div id="chartControlPanel">
		<div class="row">
		<!-- DropDown -->
		</div>
		<div class="row">
		</div>
		<div class="row">
		</div>
	</div>







</div> 
