<div id="txtEditContainer">
    <!-- <ul id="txtProject" class="dropdown-menu scrollable-menu" role="menu">
        <li><a href="#">Open Project 1</a></li>
        <li><a href="#">Open Project 2</a></li>
    </ul>
    <ul id="txtCfg" class="dropdown-menu scrollable-menu" role="menu">
        <li><a href="#">Open Cfg 1</a></li>
        <li><a href="#">Open Cfg 2</a></li>
    </ul> -->
    <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Scrollable Menu <span class="caret"></span></button>
                <ul class="dropdown-menu scrollable-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                </ul>
            </div>
    <button id="saveTxt" type="button" class="btn btn-default" value="Save">Save</button>
    <div id="txtEditor"></div>
</div>